* {
  padding: 0px;
  margin: 0px;
}

body {
  background: rgb(118, 123, 124);
}

.menu-container {
  display: flex;
  flex-grow: 2;
}

.list-container {
  list-style: none;
}

.list-container .list {
  display: inline-block;
}
